html,
body {
    height: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,a:hover {text-decoration: none;}

// container
.container {
    height: 100%;
    background-color: #16A085;
}

// avatar
.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.avatar-boy {
    margin-left: -150px;
}
.avatar-girl {
    margin-left: 150px;
}

.circle{
    position:relative;
    width: 210px;
    height: 210px;
    -webkit-transition:all .35s ease-in-out;
       -moz-transition:all .35s ease-in-out;
            transition:all .35s ease-in-out}
.circle img{
    width:100%;
    height:100%
}
.circle .img{
    position:relative;
    width:210px;
    height:210px;
    border-radius:50%;
}
.circle .img:before{
    position:absolute;
    display:block;
    content:'';
    width:100%;
    height:100%;
    border-radius:50%;
    box-shadow:inset 0 0 0 16px rgba(255,255,255,.6),0 1px 2px rgba(0,0,0,.3);
    -webkit-transition:all .35s ease-in-out;
       -moz-transition:all .35s ease-in-out;
            transition:all .35s ease-in-out
    }
.circle .img img{
    border-radius:50%
}
.circle .info{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    border-radius:50%;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
}

.circle .spinner{
    width:220px;
    height:220px;
    box-shadow: 0 0 10px #0D626A;
    border:10px solid #4FC5C7;
    border-right-color:#DBF977;
    border-bottom-color:#DBF977;
    border-radius:50%;
    -webkit-transition:all .8s ease-in-out;
    -moz-transition:all .8s ease-in-out;
    transition:all .8s ease-in-out;
}
.circle-girl .spinner {
    border:10px solid #817DE0;
    border-right-color:#EA6C6C;
    border-bottom-color:#EA6C6C;
}
.circle .img{
    position:absolute;
    top:10px;
    bottom:0;
    left:10px;
    right:0;
    width:auto;
    height:auto;
}
.circle .img:before{
    display:none;
}

.circle .info{
    top:10px;
    bottom:0;
    left:10px;
    right:0;
    background:#333;
    background:rgba(0,0,0,.6);
    opacity:0;
    -webkit-transition:all .8s ease-in-out;
    -moz-transition:all .8s ease-in-out;
    transition:all .8s ease-in-out;
}
.circle .info h3{
    color:#fff;
    text-transform:uppercase;
    position:relative;
    letter-spacing:2px;
    font-size:24px;
    margin:0 30px;
    padding:55px 0 0;
    height:110px;
    text-shadow:0 0 1px white,0 1px 2px rgba(0,0,0,.3)
}
.circle .info p{
    color:#bbb;
    padding:10px 5px;
    font-style:italic;
    margin:0 30px;
    font-size:14px;
    border-top:1px solid rgba(255,255,255,.5);
}
.circle a:hover .spinner{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
}
.circle a:hover .info{
    opacity:1;
}

// content
.content-girl {
    // position: absolute;
    // left: 0;
    // top: 0;
    // z-index: 20;
    // width: 100%;
    // height: 100%;
}

// overlayer
.overlayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 10;
    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-family: Arial;
        font-size: 20px;
        line-height: 20px;
        color: #333;
        transition: all .8s;
        &:hover {
            transform: rotate(180deg);
        }
    }
}

