.banner-full
  position: relative
  margin-bottom: 40px
  padding-top: 88px
  min-height: 300px
  text-align: center
  color: #fff
  background: url(../img/banner.jpg) no-repeat center center
  h1
    font-size: 50px